<div class="box">
	
		<p><%= link_to (image_tag pin.image), pin %></p>

		<!--<a href="/pins/<%= pin.id %>"><img src="/assets/PlayButton4.png" width="272" height="auto" border="0" style="background:URL(http://i3.ytimg.com/vi/<%= pin.yvideo %>/mqdefault.jpg) center center ;" frameborder="0" ></img>
		</span></a><!--<iframe width="270" height="auto" src="http://www.youtube.com/embed/<%= pin.yvideo %>" frameborder="0" ></iframe>-->

		<p class="description">
		<font face="open sans" size="2px" color="#404040"> <%= pin.title %> </font> <br><font face="open sans" color="#999999">	<%= pin.location %></font>
		<!-- <%= pin.description %> -->
		
<!--<div class="icon"><img src="assets/back-to-top.png" width="40px" height="40px"></img></div>-->
	
		<div style="padding-left: 8px">
			<font color="#8c7e7e" >posted by</font> <font color="teal"><%= link_to "#{pin.user.name}", user_path(pin.user) %></font>

			<div id="like_star_<%= pin.id %>"> 
		<%= render 'pins/star', :pin => pin %>
	</div>
	

	<% if current_user == pin.user %>
		<p>
			<%= link_to 'Edit', edit_pin_path(pin) %> |
			<%= link_to 'Delete', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
		</p>
	<%end%>
</div>
</div>

