<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40891350-1', 'hyreapp.com');
  ga('send', 'pageview');

</script>

<br>

<body background="/assets/whitetexturebg.png" style="background-repeat:repeat;">

  <!--<div class="la"></div>-->

	<div class="row">
		<div class="span8 offset2">
			<div class="box-text">
				<font size="5px" color="#444444">CREATE YOUR JOB LISTING</font>&nbsp;&nbsp;&nbsp;&nbsp;
        <font color="#cccccc" face="helveticaneue-light" size= "5px" >(FREE FOR 30 DAYS)</font> 
<br>
<br>

				<%= simple_form_for(@pin, html: { class: "form-horizontal"}) do |f| %>
  			<%= f.error_notification %>

  			<%= f.full_error :image_file_size, class: "alert alert" %>
  			<%= f.full_error :image_content_type, class: "alert alert" %>
    <div class="imagevid">
 			<%= f.input :image, label: "Add Job Image" %>
      <!--<%= f.input :yvideo, label: " OR YouTube Video", :placeholder => "add YouTube video ID" %>--></div>
      <br>
      
 			<%= f.input :title, label: "Job Title", :placeholder => '"Senior Designer", "Software Developer"' %>
      <%= f.input :location, label: "Location", :placeholder => '"Los Angeles", "San Francisco", "Anywhere" ' %>
    
    	<%= f.input :description, label: "Job Description", as: :text, input_html: { rows: "10", :style => 'width: 450px' }, :placeholder => "...share your company's culture,  personality and what it's like to work there!" %>


  <div class="form-actions">
    <%= f.submit "POST JOB LISTING", class: "btn btn-primary btn-custom btn-large" %>
  </div>
  <%= link_to 'Cancel', pins_path %>
</div>
</div>
</div>

		<% end %>
<!--<%= render 'form' %> -->

