<div style="text-align: center">
<span class='st_twitter_hcount' displayText='Tweet'></span>
<span class='st_fblike_hcount' displayText='Facebook Like'></span>
<span class='st_pinterest_hcount' displayText='Pinterest'></span>
<span class='st_email_hcount' displayText='Email'></span>
</div>
<br>
</div>
<div class="row">
		<div class="span5 offset3">
			<div class="well">
				<div style="text-align: center">
				<%= link_to (image_tag @pin.image), "/"%>
			</div>
			<p class="description">
				<%= simple_format(auto_link(@pin.description, :html => { :target => '_blank'})) %>
			</p>
			<br>
			<font color="#8c7e7e" >posted by</font> <font color="teal"><%= @pin.user.name %></font><br><br>
			
		
		<% if current_user == @pin.user %>
			<%= link_to 'Edit', edit_pin_path(@pin) %> |
		<% end %>
			<%= link_to 'Back', pins_path %> <br> <br>
			

	</div>
</div>
</div>
