<body background="/assets/whitetexturebg.png" style="background-repeat:repeat;">

<div class="hero-unit">
	<div class="user-info">
		<font size="7px" color="#d7d7d7" style="letter-spacing: 1px"><%= current_user.name %></font>
	</div>
</div>

<div id="pins">
	<% unless current_user.likes.blank? %>
		<% @pins.each do |pin| %>
			<div class="box">
		<%= link_to (image_tag pin.image), pin %>
				<p class="description"><%= pin.description %></p>
				<p>
					<strong>
						by <%= link_to "#{pin.user.name}", user_path(pin.user) %>
					</strong>
				</p>	
			
				<p><%= pluralize(pin.likes.count, 'like') %></p>			
			</div>

			<!-- Modal Window for Images-->

		<% end %>
	<% else %>
		<div><p>Nothing liked yet.</p></div>
	<% end %>
</div>