<body background="/assets/whitetexturebg.png" style="background-repeat:repeat;">


<div class="hero-unit">
  <div class="user-info">
    <font size="7px" color="#d7d7d7" style="letter-spacing: 1px"><%= @user.name %></font>
  
  </div>
</div>

<div id="pins">
  <% unless @user.pins.blank? %>       
    <% @user.pins.each do |pin| %>
        <div class="box">
          <%= link_to (image_tag pin.image), pin %>
          <p class="description">
            <%= pin.title %>
            <!--<%= pin.description %>--><p>    <p>
            <div style="padding-left: 9px"><%= pluralize(pin.likes.count, 'like') %></div></p>         
        </div> 
        
    <% end %>  
  <% else %>
    No jobs posted yet.
  <% end %>
</div>