<br>

<body background="/assets/whitetexturebg.png" style="background-repeat:repeat;">

<div class="row">
		<div class="span6 offset3">
			<div class="box-text">
<font size="6px">Login to your account.</font><br>

<br>
<br>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: 'form-horizontal' }) do |f| %>

  <%= f.input :email %>
	<%= f.input :password %>
	<%= f.input :remember_me, as: :boolean %>

  <div class="form-actions">
  	<%= f.submit "Sign in", class: "btn btn-primary" %>
  </div>
  <%= render "devise/shared/links" %>
</div>
<% end %>

