<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
	<head>
	  <title>Heelgasm</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	  <script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "ur-f6c07b2e-9d16-7738-1143-1cef79e83f21", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
	</head>
	<body>
		<div id="fb-root"></div>
				<script>(function(d, s, id) {
  			var js, fjs = d.getElementsByTagName(s)[0];
 				 if (d.getElementById(id)) return;
  			js = d.createElement(s); js.id = id;
  			js.src = "//connect.facebook.net/en_GB/all.	js#xfbml=1&appId=137125616386286";
  			fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));</script>

		<%= render 'layouts/header' %>
		<div class="container">
			<% flash.each do |name, msg| %>
				<%= content_tag(:div, msg, class: "alert alert-#{name}") %>
			<% end %>
			<%= yield %>
			<%= render 'layouts/footer' %>
		</div>
<script type="text/javascript">
	$(document).ready(function(){		
		/////////////// Hide alert messages after 2 seconds////////////////////
		setTimeout(function(){
			$(".alert").slideUp();
		}, 2000);		
	});
</script>
	</body>
</html>
